@import 'src/assets/abstracts/variables';
@import 'src/assets/abstracts/mixins';

.form-input-text {
  font-family: $font-default;
  color: $text-color;

  input {
    background: none;
    border: none;
    display: block;
    font-size:30px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 auto;
    padding: 15px 5px;
    width: 80%;


    @include sm {
      display: initial;
      margin: 0;
    }
  }

  label {
    display: none;
    font-size: 27px;
    font-weight: 400;
    line-height: 34px;
    padding-right: 10px;
    text-transform: uppercase;

    @include sm {
      display: inline-block;
    }
  }
}