<div class="form-input-text">
  <label *ngIf="label" [for]="'field-' + name">{{ label }}</label>
  <input
    [id]="'field-' + name"
    [type]="type"
    [name]="name"
    [value]="value"
    (focus)="onTouched()"
    [ngModel]="value"
    (ngModelChange)="valueChanged($event)"
    [disabled]="disabled"
    [required]="true"
    [autocomplete]="autocomplete"
    [attr.placeholder]="placeholder ? placeholder : ''"
  />
</div>