@import 'src/assets/abstracts/mixins';

$bg-user-form: #ebecf3;

.chat {
  padding-bottom: 180px;

  app-messages {
    max-width: 760px;
    margin: 20px auto;
    display: block;
  }

  app-user-question {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bg-user-form;

    @include sm {
      padding: 20px 0;
    }
  }
}
