// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Small tablets (portrait view)
$screen-md-min: 768px;
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Tablets and small desktops
$screen-lg-min: 992px;
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Large tablets and desktops
$screen-xl-min: 1200px;
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}