<mat-list #wrapperMessages class="messages">
  <ng-container *ngFor="let message of messages">
    <mat-list-item [ngClass]="[message.owner === 'user' ? 'message-user' : 'message-warren']">
      <img *ngIf="message.owner !== 'user'" src="assets/images/warren_logo_suita.svg" alt="warren logo suita">

      <div class="text">{{ message.value }}</div>

      <mat-icon *ngIf="message.owner === 'user'">account_box</mat-icon>
    </mat-list-item>
  </ng-container>
</mat-list>
  