@import 'src/assets/abstracts/variables';

.messages {
  mat-list-item {
    margin: 35px 0;

    img {
      margin-right: 15px;
      height: 32px;
      width: 32px;
    }
    .text {
      color: $text-color;
      line-height: 30px;
      font-family: $font-default;
      font-size: 23px;
      font-weight: 400;
      margin: 0;
    }

    &.message-user {
      ::ng-deep .mat-list-item-content {
        justify-content: flex-end;
        align-items: initial;
      }

      mat-icon {
        font-size: 38px;
        height: 38px;
        margin-left: 15px;
        width: 38px;
      }

      .text {
        text-align: right;
      }
    }
  }
}
