<div class="question-options">
  <ng-container *ngFor="let item of data?.buttons">
    <button class="btn-default" mat-flat-button color="primary" (click)="selectOption(item)">{{ item.label.title }}</button>
  </ng-container>
</div>