<form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
  <app-form-text-input
    formControlName="answer"
    [label]="label"
    [placeholder]="placeholder"
    [type]="type"
    [ngClass]="{'is-invalid': isFieldValid('answer')}"
    ngDefaultControl
  >
  </app-form-text-input>

  <button class="btn-default" mat-flat-button color="primary" type="submit">OK</button>
</form>
