@import 'src/assets/abstracts/mixins';

form {
  app-form-text-input {
    display: inline-grid;
    width: 100%;
    
    @include sm {
      width: 80%;
    }
  }

  button {
    margin: 0 auto;
    width: 155px;
    
    @include sm {
      float: right;
    }
  }

  .is-invalid {
    ::ng-deep input {
      -webkit-box-shadow: 0px 0px 3px 0px rgba(226,18,48,1);
      -moz-box-shadow: 0px 0px 3px 0px rgba(226,18,48,1);
      box-shadow: 0px 0px 3px 0px rgba(226,18,48,1);
    }
  }
}
