@import '~@angular/material/theming';
@import 'assets/abstracts/mixins';
@import 'assets/abstracts/variables';

$md-warren: (
  50 : #fde6ec,
  100 : #fac0ce,
  200 : #f797ae,
  300 : #f36d8e,
  400 : #f14d75,
  500 : #ee2e5d,
  600 : #ec2955,
  700 : #e9234b,
  800 : #e71d41,
  900 : #e21230,
  A100 : #ffffff,
  A200 : #ffdde1,
  A400 : #ffaab4,
  A700 : #ff909d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

@include mat-core();

$warren-primary: mat-palette($md-warren);
$warren-accent: mat-palette($md-warren, A200, A100, A400);

$warren-warn: mat-palette($mat-red);

$warren: mat-light-theme($warren-primary, $warren-accent, $warren-warn);

@include angular-material-theme($warren);

// html { height: calc(100% - 180px); }
body { margin: 0; font-family: "Source Sans Pro", Helvetica, Arial, Sans-Serif; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

app-root {
  .btn-default {
    font-family: $font-default;
    display: block;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 17px 30px;
    min-width: 130px;
    
    @include sm {
      display: inline-block;
      margin: 0 3px;
    }
  }
}