<div class="user-question">
  <ng-template #container></ng-template>

  <div class="user-question__final" *ngIf="respData?.id === 'final'">
    <button class="btn-default" mat-flat-button color="primary" (click)="getProfile()">ver meu perfil</button>
  </div>
</div>
